.login-register {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  padding: 10% 0;
  position: fixed;
}

.tittle{
  color: #4d4b4b;
  text-align: center;
  padding-top: 2rem;
  font-size: 2rem;
}

.logo{
  width: 50px;
}

.field{
  padding: 12rem 3rem 3rem;
}

.login-box {
  width: 400px;
  margin: 0 auto; }
.login-box .footer {
  width: 100%;
  left: 0;
  right: 0; }
.login-box .social {
  display: block;
  margin-bottom: 30px; }

.button-login{
  border-radius: 30px;;
}
.button-login:hover{
  box-shadow: none;
  transform: scale(110%);
}

#recoverform {
  display: none; }

.login-sidebar {
  padding: 0;
  margin-top: 0; }
.login-sidebar .login-box {
  right: 0;
  position: absolute;
  height: 100%; }
