<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input type="text"
               placeholder="Buscar producto ..."
               class="form-control"
               (keyup)="searchProduct(txtTer.value)"
               #txtTer/>
      </div>
    </div>
  </div>
</div>

<app-loading [waiting]="waiting"></app-loading>

<div class="row" *ngIf="!waiting">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Total de productos ({{total}})</h4>
        <div class="row justify-content-between card-subtitle">
          <h6 class="pt-3 pl-3">Productos registradas</h6>
          <button class="btn btn-danger mr-3"
                  (click)="createProduct()">Crear Producto</button>
        </div>
        <div class="table-responsive">

          <!--Activos-->
          <table class="table table-bordered" *ngIf="active">
            <thead *ngIf="products.length>0">
            <tr >
              <th class="w100 text-center">Avatar</th>
              <th class="w140">Nombre</th>
              <th class="w100 text-center">Cantidad</th>
              <th class="text-nowrap w100 text-center">Acciones</th>
            </tr>
            </thead>
            <tbody *ngIf="products.length>0">
            <tr *ngFor="let item of products">
              <td class="text-center cursor" (click)="infoElement(item.id)">
                <img src="{{item.img!.url}}"
                     class="avatar "
                     alt="Avatar Promoción">
              </td>
              <td >{{item.name}}</td>
              <td class="text-center">{{item.quantity}}</td>
              <td class="text-nowrap text-center">
                <a (click)="updateElement(item.id)"
                   class="cursor"
                   data-toggle="tooltip"  data-placement="top"
                   title="Editar el producto">
                  <i class="fa fa-pencil text-inverse m-r-10"></i>
                </a>
                <a (click)="deleteProduct(item.id)"
                   class="cursor"
                   data-toggle="tooltip"  data-placement="top"
                   title="Eliminar el producto">
                  <i class="fa fa-close text-danger"></i> </a>
              </td>
            </tr>
            </tbody>
          </table>

          <!--Inactivos-->
          <app-tableinactive *ngIf="!active" [group]="products"
                             (sendRequest)="activeProduct($event)"
                             text="Volver activar el producto">
          </app-tableinactive>
        </div>

        <div class="row justify-content-around pt-4"
             *ngIf="txtTer.value.length === 0">
          <div *ngIf="products.length != 0">
            <button class="btn btn secondary"
                    (click)="changePage(-1)">Anteriores</button>
          </div>
          <div *ngIf="products.length != 0">
            <button class="btn btn secondary"
                    (click)="changePage(1)">Siguientes</button>
          </div>
        </div>

        <div class="row justify-content-center pt-4">
          <button class="btn btn secondary " *ngIf="active"
                  (click)="activeProducts(false)">Mostrar Productos Inactivos</button>
          <button class="btn btn secondary " *ngIf="!active"
                  (click)="activeProducts(true)">Mostrar Productos Activos</button>
        </div>

      </div>
    </div>
  </div>
</div>
