<header class="topbar">
  <nav class="navbar top-navbar navbar-expand-md navbar-light">
    <div class="navbar-header">
      <a class="navbar-brand cursor" routerLink="/main">
        <b>
          <img src="./favicon.ico" alt="homepage" class="dark-logo avatar" />
          <img src="./favicon.ico" alt="homepage" class="light-logo avatar" />
        </b>
        <span>
          <img src="./assets/images/logo-completo.jpeg" alt="homepage" class="dark-logo logo-completo" />
          <img src="./assets/images/logo-completo.jpeg" class="light-logo logo-completo"
               alt="homepage" /></span> </a>
    </div>
    <div class="navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark"
             href="javascript:void(0)" ><i class="ti-menu"></i></a> </li>
        <li class="nav-item">
          <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark"
             href="javascript:void(0)" ><i class="ti-menu"></i></a> </li>
        <li class="nav-item hidden-sm-down"></li>
      </ul>
      <ul class="navbar-nav my-lg-0">
        <li class="nav-item hidden-xs-down search-box">
          <a class="nav-link hidden-sm-down waves-effect waves-dark"
             href="javascript:void(0)" ><i class="ti-search"></i></a>
          <form class="app-search" (submit)="search(txt.value)" >
            <input type="text" class="form-control"
                   placeholder="Buscar..." #txt > <a class="srh-btn" id="nav-search">
            <i class="ti-close"></i></a> </form>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle waves-effect waves-dark"
             href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{{imgUrl}}"
                 alt="user" class="profile-pic" /></a>
          <div class="dropdown-menu dropdown-menu-right animated fadeIn">
            <ul class="dropdown-user">
              <li>
                <div class="dw-user-box">
                  <div class="u-img"><img src="{{imgUrl}}"
                                          alt="user"></div>
                  <div class="u-text mt-2">
                    <h4>{{name | slice: 0:20}}
                      {{(name.length > 20)? '...' : ''}}</h4>
                    <p class="text-muted mt-1">{{email | slice: 0:20}}
                      {{(email.length > 20)? '...' : ''}}</p>
                  </div>
                </div>
              </li>
              <li role="separator" class="divider"></li>
              <li><a routerLink="profile"><i class="ti-user"></i> Perfil</a></li>
              <li role="separator" class="divider"></li>
              <li><a routerLink="account-settings">
                <i class="ti-settings"></i> Configuración</a></li>
              <li role="separator" class="divider"></li>
              <li><a (click)="logOut()" class="cursor">
                <i class="fa fa-power-off"></i> Salir</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>

