<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<header class="topbar">
  <nav class="navbar top-navbar navbar-expand-md navbar-light">
    <!-- ============================================================== -->
    <!-- Logo -->
    <!-- ============================================================== -->
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/">
        <!-- Logo icon --><b>
        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
        <!-- Dark Logo icon -->
        <img src="./assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
        <!-- Light Logo icon -->
        <img src="./assets/images/logo-light-icon.png" alt="homepage" class="light-logo" />
      </b>
        <!--End Logo icon -->
        <!-- Logo text --><span>
                         <!-- dark Logo text -->
                         <img src="./assets/images/logo-text.png"
                              alt="homepage" class="dark-logo" />
        <!-- Light Logo text -->
                         <img src="./assets/images/logo-light-text.png"
                              class="light-logo" alt="homepage" /></span> </a>
    </div>
    <!-- ============================================================== -->
    <!-- End Logo -->
    <!-- ============================================================== -->
    <div class="navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark"
             href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
        <li class="nav-item">
          <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark"
             href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
        <li class="nav-item hidden-sm-down"></li>
      </ul>
      <ul class="navbar-nav my-lg-0">
        <li class="nav-item hidden-xs-down search-box">
          <a class="nav-link hidden-sm-down waves-effect waves-dark"
             href="javascript:void(0)" ><i class="ti-search"></i></a>
          <form class="app-search" (submit)="search(txt.value)" >
            <input type="text" class="form-control"
                   placeholder="Buscar..." #txt > <a class="srh-btn" id="nav-search">
            <i class="ti-close"></i></a> </form>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle waves-effect waves-dark"
             href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="{{imgUrl}}"
                 alt="user" class="profile-pic" /></a>
          <div class="dropdown-menu dropdown-menu-right animated fadeIn">
            <ul class="dropdown-user">
              <li>
                <div class="dw-user-box">
                  <div class="u-img"><img src="{{imgUrl}}"
                                          alt="user"></div>
                  <div class="u-text mt-2">
                    <h4>{{name | slice: 0:20}}
                      {{(name.length > 20)? '...' : ''}}</h4>
                    <p class="text-muted mt-1">{{email | slice: 0:20}}
                      {{(email.length > 20)? '...' : ''}}</p>
                  </div>
                </div>
              </li>
              <li role="separator" class="divider"></li>
              <li><a routerLink="profile"><i class="ti-user"></i> Perfil</a></li>
              <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
              <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
              <li role="separator" class="divider"></li>
              <li><a routerLink="account-settings">
                <i class="ti-settings"></i> Configuración</a></li>
              <li role="separator" class="divider"></li>
              <li><a (click)="logOut()" class="cursor">
                <i class="fa fa-power-off"></i> Salir</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>

