<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Mi perfil de usuario</h3>
        <div class="row justify-content-between card-subtitle">
          <h4  class="pt-3 pl-3">Ajustes</h4>
          <button class="btn btn-outline-danger waves-effect waves-light m-r-10" (click)="openModalImg()">
            Cambiar imagen</button>
          <button class="btn btn-outline-danger  waves-effect waves-light m-r-10" (click)="changePassword()">
            Cambiar contraseña</button>
        </div>
        <form class="form p-t-20" autocomplete="off" [formGroup]="changeForm" (submit)="save()">
          <div class="form-group row">
            <div class="col-6">
              <div class="form-group row">
                <label for="name" class="col-4 col-form-label">Nombre</label>
                <div class="col-8">
                  <input class="form-control" type="text"
                         formControlName="name" id="name">
                  <div class="text-danger">
                    <p *ngIf="fieldNoValid('name')">El nombre es obligatorio</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group row">
                <label for="lastName" class="col-4 col-form-label">Apellidos</label>
                <div class="col-8">
                  <input class="form-control" type="text" formControlName="lastName"
                         id="lastName">
                  <div class="text-danger">
                    <p *ngIf="fieldNoValid('lastName')">Los apellidos son obligatorios</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6">
              <div class="form-group row">
                <label for="birthDate" class="col-6 col-form-label">Fecha Nacimiento</label>
                <div class="col-6">
                  <input class="form-control" type="date" (change)="checkDate()"
                         formControlName="birthDate"
                         id="birthDate">
                  <div class="text-danger">
                    <p *ngIf="fieldNoValid('birthDate')">La fecha de nacimiento es obligatoria</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group row">
                <label for="phone" class="col-4 col-form-label">Teléfono</label>
                <div class="col-8">
                  <input class="form-control" type="text" formControlName="phone"
                         id="phone">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="address" class="col-2 col-form-label">Dirección</label>
            <div class="col-10">
              <input class="form-control" type="text" formControlName="address"
                     id="address">
              <div class="text-danger">
                <p *ngIf="fieldNoValid('address')">La dirección es obligatoria</p>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6">
              <div class="form-group row">
                <label for="province" class="col-4 col-form-label">Provincia</label>
                <div class="col-8">
                  <input class="form-control" type="text" formControlName="province"
                         id="province">
                  <div class="text-danger">
                    <p *ngIf="fieldNoValid('province')">La provincia es obligatoria</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group row">
                <label for="city" class="col-4 col-form-label">Ciudad</label>
                <div class="col-8">
                  <input class="form-control" type="text" formControlName="city"
                         id="city">
                  <div class="text-danger">
                    <p *ngIf="fieldNoValid('city')">La ciudad es obligatoria</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Guardar</button>
        </form>
      </div>
    </div>
  </div>
</div>



