<app-loading [waiting]="waiting"></app-loading>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body" *ngIf="!waiting">
        <h3 class="card-title">Consulta</h3>
        <div class="row card-subtitle">
          <h4  class="pt-3 pl-3">Información</h4>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="row p-3">
              <div class="col-4">
                <p class="tittle">Tipo de Animal :<br/><span class="span-tittle">{{data.type}}</span></p>
              </div>
              <div class="col-4">
                <p class="tittle">Servicio :<br/>
                </p>
                <div *ngIf="data.service">
                  <div class="d-flex cursor"
                       (click)="open(data.service, 'service')">
                    <p class="pl-3 pt-2">{{data.service.name}}</p>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <p class="tittle">Tratamiento :<br/>
                </p>
                <div *ngIf="data.treatment">
                  <div class="d-flex cursor"
                       (click)="open(data.treatment, 'treatment')">
                    <p class="pl-3 pt-2">{{data.treatment.name}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row p-3">
              <div class="col-4">
                <p class="tittle">Fecha de Inicio :<br/>
                  <span class="span-tittle">{{data.startDate | date:'dd-MM-yy HH:mm'}}</span></p>
              </div>
              <div class="col-4">
                <p class="tittle">Fecha de Finalización :<br/>
                  <span class="span-tittle">{{data.finishDate | date: 'dd-MM-yy HH:mm'}}</span></p>
              </div>
              <div class="col-4">
                <p class="tittle">Finalizada :<br/>
                <p *ngIf="data.finish == false">
                  <span class="label span-tittle label-success">En espera</span>
                </p>
                <p *ngIf="data.finish == true" >
                  <span class="label span-tittle label-danger">Finalizada</span>
                </p>
              </div>
            </div>
            <div class="row p-3">
              <div class="col-6">
                <p class="tittle">Animal :<br/>
                <div *ngIf="data.idPet">
                  <div class="d-flex p-2 cursor"
                       (click)="open(data.idPet, 'pet')">
                    <img src="{{data.idPet.img?.url}}" alt="Imagen Animal" class="w50 avatar ">
                    <p class="pl-3 pt-2">{{data.idPet.name}}</p>
                  </div>
                </div>
              </div>
              <div class="col-6">
                <p class="tittle">Encargado :<br/>
                <div *ngIf="data.idUser">
                  <div class="d-flex p-2 cursor"
                       (click)="open(data.idUser, 'user')">
                    <img src="{{data.idUser.img?.url}}" alt="Imagen Usuario" class="w50 avatar ">
                    <p class="pl-3 pt-2">{{data.idUser.name}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row p-3">
              <div class="col-12">
                <p class="tittle">Primera Observación :<br/>
                  <span class="span-tittle">{{data.firstObservation}}</span></p>
              </div>
            </div>
            <div class="row p-3">
              <div class="col-12">
                <p class="tittle">Descripción :<br/>
                  <span class="span-tittle">{{data.description}}</span></p>
              </div>
            </div>
            <div class="row p-3">
              <div class="col-12">
                <p class="tittle">Pruebas :<br/>
                  <span class="span-tittle">{{data.tests}}</span></p>
              </div>
            </div>
            <div class="row p-3">
              <div class="col-12">
                <p class="tittle">Diagnostico :<br/>
                  <span class="span-tittle">{{data.diagnostic}}</span></p>
              </div>
            </div>
            <div class="row p-3">
              <div class="col-12">
                <p class="tittle">Archivos adjuntos :<br/>
                <div class="row">
                  <div *ngFor="let item of data.reports" class="d-flex polaroid">
                    <img *ngIf="item.typeReport == 'img'" src="{{item.url}}"
                         alt="Archivo adjunto" class="w100">
                    <video *ngIf="item.typeReport == 'video'"
                           width="400" height="400" controls id="video1">
                      <source src={{item.url}} type="video/mp4">
                    </video>
                    <div class="container content">
                      <div *ngIf="item.typeReport === 'img'">
                        <p>Imagen</p>
                      </div>
                      <div *ngIf="item.typeReport === 'pdf'">
                        <p>Archivo PDF</p>
                      </div>
                      <div *ngIf="item.typeReport === 'video'">
                        <p>Video</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row pt-5">
              <div class="col-4">
                <div *ngIf="data.active == true" class="text-center">
                  <span class="label label-table label-success">Activo</span>
                </div>
                <div *ngIf="data.active == false" class="text-center">
                  <span class="label label-table label-danger">Eliminado</span>
                </div>
              </div>
              <div class="col-8">
                <button type="btn" (click)="edit()"
                        class="btn btn-success waves-effect waves-light m-r-10">Editar</button>
                <button type="btn" (click)="back()"
                        class="btn btn-warning waves-effect waves-light m-r-10 ">Volver</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


