<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input type="text"
               placeholder="Buscar animal..."
               class="form-control"
               (keyup)="searchPets(txtTer.value)"
               #txtTer/>
      </div>
    </div>
  </div>
</div>

<app-loading [waiting]="waiting"></app-loading>

<div class="row" *ngIf="!waiting">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Total de mascotas ({{total}})</h4>
        <div class="row justify-content-between card-subtitle">
          <h6 class="pt-3 pl-3">Mascotas registradas</h6>
          <button class="btn btn-danger mr-3"
                  (click)="createPet()">Crear mascota</button>
        </div>
        <div class="table-responsive">

          <!--Activos-->
          <table class="table table-bordered" *ngIf="active">
            <thead *ngIf="pets.length>0">
            <tr>
              <th class="w100 text-center">Avatar</th>
              <th class="w140">Nombre</th>
              <th class="w140">Tipo</th>
              <th class="w140">Raza</th>
              <th class="w140 text-center">Último Propietario Conocido</th>
              <th class="w140 text-center">Comentarios</th>
              <th class="text-nowrap w100 text-center">Acciones</th>
            </tr>
            </thead>
            <tbody *ngIf="pets.length>0">
            <tr *ngFor="let item of pets">
              <td class="text-center">
                <img src="{{item.img!.url}}"
                     class="avatar"
                     alt="Avatar Mascota">
              </td>
              <td>{{item.name}}</td>
              <td>{{item.type}}</td>
              <td class="cursor" (click)="infoElement(item.breed)">{{item.breed.name}}</td>
              <td *ngIf="item.idUser">
                <div class="card cardUser">
                  <div class="d-flex flex-column text-center" (click)="openUser(item.idUser)">
                    <div class="">
                      <img src="{{item.idUser.img!.url}}"
                           class="avatar cursor"
                           alt="Avatar Usuario">
                    </div>
                    <div class="align-self-center">
                      <h5 class="">{{item.idUser.name}}</h5>
                    </div>
                  </div>
                </div>
              </td>
              <td *ngIf="!item.idUser">
                <div class="tableUserEmpty text-center">
                  Lista Vacia
                </div>
              </td>
              <td>{{item.comment}}</td>
              <td class="text-nowrap text-center">
                <a (click)="updateElement(item.id)"
                   data-toggle="tooltip" class="cursor"
                   data-placement="top"
                   title="Editar">
                  <i class="fa fa-pencil text-inverse m-r-10"></i>
                </a>
                <a (click)="deletePet(item.id)"
                   class="cursor" data-toggle="tooltip"
                   data-placement="top"
                   title="Borrar">
                  <i class="fa fa-close text-danger"></i> </a>
              </td>
            </tr>
            </tbody>
          </table>

          <!--Inactivos-->
          <app-tableinactive *ngIf="!active" [group]="pets"
                             (sendRequest)="activePet($event)"
                             text="Volver activar el perfil">
          </app-tableinactive>
        </div>

        <div class="row justify-content-around pt-4"
             *ngIf="txtTer.value.length === 0">
          <div *ngIf="pets.length != 0">
            <button class="btn btn secondary"
                    (click)="changePage(-1)">Anteriores</button>
          </div>
          <div *ngIf="pets.length != 0">
            <button class="btn btn secondary"
                    (click)="changePage(1)">Siguientes</button>
          </div>
        </div>

        <div class="row justify-content-center pt-4">
          <button class="btn btn secondary " *ngIf="active"
                  (click)="activePets(false)">Mostrar Mascotas Inactivas</button>
          <button class="btn btn secondary " *ngIf="!active"
                  (click)="activePets(true)">Mostrar Mascotas Activas</button>
        </div>

      </div>
    </div>
  </div>
</div>
