<app-loading [waiting]="waiting"></app-loading>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body" *ngIf="!waiting">
        <h3 class="card-title">Tratamiento</h3>
        <div class="row card-subtitle">
          <h4  class="pt-3 pl-3">Información</h4>
        </div>
        <div class="row">
          <div class="col-12">
            <div class="row p-3">
              <div class="col-6">
                <p class="tittle">Nombre :<br/><span class="span-tittle">{{data.name}}</span></p>
              </div>
              <div class="col-6">
                <p class="tittle">Mascota :<br/>
                </p>
                <div *ngIf="data.idPet">
                  <div class="d-flex p-2 cursor"
                       (click)="open(data.idPet, 'pet')">
                    <img src="{{data.idPet.img?.url}}" alt="Imagen Animal" class="w50 avatar ">
                    <p class="pl-3 pt-2">{{data.idPet.name}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row p-3">
              <div class="col-4">
                <p class="tittle">Fecha de Inicio :<br/>
                  <span class="span-tittle">{{data.startDate | date:'dd-MM-yy'}}</span></p>
              </div>
              <div class="col-4">
                <p class="tittle">Fecha de Finalización :<br/>
                  <span class="span-tittle">{{data.finishDate | date: 'dd-MM-yy'}}</span></p>
              </div>
              <div class="col-4">
                <p class="tittle">Encargado :<br/>
                <div *ngIf="data.idUser">
                  <div class="d-flex p-2 cursor"
                       (click)="open(data.idUser, 'user')">
                    <img src="{{data.idUser.img?.url}}" alt="Imagen Usuario" class="w50 avatar ">
                    <p class="pl-3 pt-2">{{data.idUser.name}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row p-3">
              <div class="col-12">
                <p class="tittle">Descripción :<br/>
                  <span class="span-tittle">{{data.description}}</span></p>
              </div>
            </div>
            <div class="row pt-5">
              <div class="col-4">
                <div *ngIf="data.active == true" class="text-center">
                  <span class="label label-table label-success">Activo</span>
                </div>
                <div *ngIf="data.active == false" class="text-center">
                  <span class="label label-table label-danger">Eliminado</span>
                </div>
              </div>
              <div class="col-8">
                <button type="btn" (click)="edit()"
                        class="btn btn-success waves-effect waves-light m-r-10">Editar</button>
                <button type="btn" (click)="back()"
                        class="btn btn-warning waves-effect waves-light m-r-10 ">Volver</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
