<app-loading [waiting]="waiting"></app-loading>

<div class="row" *ngIf="!waiting">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">Mascota</h3>
        <div class="row justify-content-between card-subtitle">
          <h4  class="pt-3 pl-3">Ajustes</h4>
          <div *ngIf="!new" class="buttons-top">
            <button class="btn btn-outline-danger waves-effect waves-light m-r-10"
                    (click)="openModalImg()">
              Cambiar imagen</button>
            <div class="btn-group">
              <button type="button"
                      class="btn btn-outline-danger dropdown-toggle "
                      data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                Añadir Dueño
              </button>
              <ul class="dropdown-menu menu" >
                <li *ngFor="let item of users; let i = index" class="menu-item w180">
                  <a (click)="addUser(users[i])" class="cursor">
                    <img src="{{item.img!.url}}"
                         class="avatar p-2"
                         alt="Avatar Mascota">
                    <span>{{item.name}}</span>
                  </a>
                  <div class="dropdown-divider"></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <form class="form p-t-20" autocomplete="off" [formGroup]="changeForm"
              (submit)="save()" (reset)="back()">
          <div class="form-group row">
            <div class="col-9">
              <div class="form-group row">
                <label for="name" class="col-4 col-form-label">Nombre</label>
                <div class="col-8">
                  <input class="form-control" type="text"
                         formControlName="name" id="name">
                  <div class="text-danger">
                    <p *ngIf="fieldNoValid('name')">El nombre es obligatorio</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3">
              <div class="row">
                <label for="sex" class="col-4 col-form-label pl-5">Sexo</label>
                <div class="col-8">
                  <input class="form-control" type="text"
                         formControlName="sex" id="sex">
                  <div class="text-danger">
                    <p *ngIf="fieldNoValid('sex')">El sexo es obligatorio</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-3">
              <div class="row">
                <div class="form-check pl-3">
                  <label class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" formControlName="sterilized">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Esterilizado</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-6 ">
              <div class="row">
                <label for="color" class="col-4 col-form-label">Color</label>
                <div class="col-8">
                  <input class="form-control" type="text"
                         formControlName="color" id="color">
                  <div class="text-danger">
                    <p *ngIf="fieldNoValid('color')">El color es obligatorio</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-3 ">
              <div class="row">
                <label for="type" class="col-4 col-form-label">Tipo</label>
                <div class="col-8">
                  <input class="form-control" type="text"
                         formControlName="type" id="type">
                  <div class="text-danger">
                    <p *ngIf="fieldNoValid('type')">El tipo de animal es obligatorio</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row pt-2">
            <div class="col-4">
              <div class="form-group row">
                <label for="birthDate" class="col-5 col-form-label">Fecha Nacimiento</label>
                <div class="col-5">
                  <input class="form-control" type="date" (change)="checkDate()"
                         formControlName="birthDate"
                         id="birthDate">
                  <div class="text-danger">
                    <p *ngIf="fieldNoValid('birthDate')">La fecha de nacimiento es obligatoria</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="row">
                <label class="col-4 col-form-label">Raza: </label>
                <div class="col-4">
                  <p *ngIf="breed">{{breed.name}}</p>
                </div>
                <div class="btn-group col-3">
                  <button type="button"
                          class="btn btn-outline-danger dropdown-toggle "
                          data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false">
                    Añadir Raza
                  </button>
                  <ul class="dropdown-menu menu" >
                    <li *ngFor="let item of breeds; let i = index" class="menu-item">
                      <a (click)="addBreed(breeds[i])">{{item.name}}</a>
                      <div class="dropdown-divider"></div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-4 pl-5">
              <div class="form-group row">
                <label for="weight" class="col-6 col-form-label">Último peso</label>
                <div class="col-6 ">
                  <input class="form-control" type="number"
                         formControlName="weight"
                         id="weight">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="col-6">
              <div class="form-group row">
                <label for="chip" class="col-4 col-form-label">Chip</label>
                <div class="col-8">
                  <input class="form-control" type="text"
                         formControlName="chip" id="chip">
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group row">
                <label for="passport" class="col-4 col-form-label">Pasaporte</label>
                <div class="col-8">
                  <input class="form-control" type="text" formControlName="passport"
                         id="passport">
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="comment" class="col-2 col-form-label">Comentarios</label>
            <div class="col-10">
              <input class="form-control" type="text" formControlName="comment"
                     id="comment">
            </div>
          </div>
          <div class="form-group row">
            <label for="chronic" class="col-2 col-form-label">Enfermedades Crónicas</label>
            <div class="col-10">
              <input class="form-control" type="text" formControlName="chronic"
                     id="chronic">
            </div>
          </div>
          <button type="submit" class="btn btn-success waves-effect waves-light m-r-10">Guardar</button>
          <button type="reset" class="btn btn-warning waves-effect waves-light m-r-10 ml-5">volver</button>
        </form>
      </div>
    </div>
  </div>
</div>

