<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input type="text"
               placeholder="Buscar tratamiento..."
               class="form-control"
               (keyup)="searchTreatment(txtTer.value)"
               #txtTer/>
      </div>
    </div>
  </div>
</div>

<app-loading [waiting]="waiting"></app-loading>

<div class="row" *ngIf="!waiting">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Total de Tratamientos ({{total}})</h4>
        <div class="row justify-content-between card-subtitle">
          <h6 class="pt-3 pl-3">Tratamientos registrados</h6>
        </div>
        <div class="table-responsive">

          <!--Activos-->
          <table class="table table-bordered" *ngIf="active">
            <thead *ngIf="treatments.length>0">
            <tr>
              <th class="w140">Nombre</th>
              <th class="w180">Fecha Inicio</th>
              <th class="w100">Fecha Final</th>
              <th class="w100">Animal</th>
              <th class="w140">Encargado</th>
              <th class="text-nowrap w100 text-center">Acciones</th>
            </tr>
            </thead>
            <tbody *ngIf="treatments.length>0">
            <tr *ngFor="let item of treatments">
              <td class="cursor" (click)="infoElement(item.id)">{{item.name}}</td>
              <td>
                <p>{{item.startDate.toString().split('T')[0]}}</p>
              </td>
              <td>
                <p *ngIf="item.finishDate">{{item.finishDate.toString().split('T')[0]}}</p>
              </td>
              <td (click)="open(item.idPet, 'pet')" class="cursor">{{item.idPet.name}}</td>
              <td (click)="open(item.idUser, 'user')" class="cursor">{{item.idUser.name}}</td>
              <td class="text-nowrap text-center">
                <a (click)="updateElement(item.id)"
                   data-toggle="tooltip" class="cursor"
                   data-placement="top"
                   title="Editar">
                  <i class="fa fa-pencil text-inverse m-r-10"></i>
                </a>
                <a (click)="deleteTreatment(item.id)"
                   class="cursor" data-toggle="tooltip"
                   data-placement="top"
                   title="Borrar">
                  <i class="fa fa-close text-danger"></i> </a>
              </td>
            </tr>
            </tbody>
          </table>

          <!--Inactivos-->
          <app-tableinactive *ngIf="!active" [group]="treatments"
                             (sendRequest)="activeTreatment($event)"
                             text="Volver activar el perfil">
          </app-tableinactive>
        </div>

        <div class="row justify-content-around pt-4"
             *ngIf="txtTer.value.length === 0">
          <div *ngIf="treatments.length != 0">
            <button class="btn btn secondary"
                    (click)="changePage(-1)">Anteriores</button>
          </div>
          <div *ngIf="treatments.length != 0">
            <button class="btn btn secondary"
                    (click)="changePage(1)">Siguientes</button>
          </div>
        </div>

        <div class="row justify-content-center pt-4">
          <button class="btn btn secondary " *ngIf="active"
                  (click)="activeTreatments(false)">Mostrar Tratamientos Inactivos</button>
          <button class="btn btn secondary " *ngIf="!active"
                  (click)="activeTreatments(true)">Mostrar Tratamientos Activos</button>
        </div>

      </div>
    </div>
  </div>
</div>
